{% load litreview_extras %}

<div class="container border border-dark border-2 rounded d-grid gap-3 p-4 pt-2">
    <div class="row">
        {% if ticket.user == request.user %}
            <div class="col">Vous avez publié un ticket</div>
        {% else %}
            <div class="col">{{ ticket.user }} a demandé une critique</div>    
        {% endif %}
    
        <div class="col text-end">{{ ticket.time_created }}</div>
    </div>
    
    <div class="row">
        <div class="col">
            <strong>{{ ticket.title }}</strong>
        </div>
    </div>
    
    <div class="row">
        {% if ticket.image %}
        <div class="col-4">
            <img src="{{ ticket.image.url }}" alt="Image d'un livre">
        </div>
        {% endif %}
        <div class="col">
            {{ ticket.description }}
        </div>
    </div>
    
    <div class="row">
        {% if ticket.user != request.user %}
            <div class="col"></div>
            <div class="col-4 text-center">
                <a href="{% url 'create_review_to_ticket' ticket.id %}" class="btn btn-dark" aria-label="Ce bouton vous permettra de créer une critique">Créer une critique</a>
            </div>
        {% else %}
            <div class="col"></div>
            <div class="col-2 text-center">
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-outline-dark" aria-label="Ce bouton vous renverra vers une page vous permettant de modifier votre ticket">Modifier</a>
            </div>
            <div class="col-2 text-center">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                    <button type="submit" class="btn btn-danger" aria-label="Ce bouton vous permet de supprimer votre ticket">Supprimer</button>
                </form>
            </div>
        {% endif %}
    </div>
    
</div>